/*
* ==========================================================
*     GENERAL
* ==========================================================
*/

.text-bold {
    font-weight: 700;
}

.text-small {
    font-size: 0.9rem;
}

.text-xsmall {
    font-size: 0.8rem;
}

.text-gray {
    color: #868e96;
}

.text-uppercase {
    letter-spacing: 0.2em;
}

.lh-2 {
    line-height: 2;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

i {
    display: inline-block;
}

span {
    display: inline-block;
}

.mt-30px {
    margin-top: 30px !important;
}

.mb-30px {
    margin-bottom: 30px !important;
}

i[class*='icon-'] {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

table {
    font-size: 0.9em;
    color: #666;
}

.btn-xs {
    font-size: 0.7em !important;
    padding: 2px 5px !important;
    border-radius: 2px !important;
}

.badge {
    font-weight: 400;
    border-radius: 0;
}

.badge.badge-primary {
    background: #33b35a;
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
    width: calc(100% - 250px);
    background-color: #fff;
    min-height: 100vh;
    padding-bottom: 50px;
}

.padd {
    padding: 67px 40px 50px 27px;
}

.page.active {
    width: calc(100% - 70px);
}

h2 {
    color: #555;
    font-weight: 400;
}

.display {
    font-weight: 400 !important;
}

.section-padding {
    padding: 3rem 0;
}

.section-no-padding-bottom {
    padding-bottom: 0;
}

section header {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 768px) {
    .container-fluid {
        padding: 0 3rem;
    }
}

.list-group-item {
    border-right: 0;
    border-left: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.tile-link {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 30;
}


/*
* ==========================================================
*     Main NAVBAR
* ==========================================================
*/

nav.navbar {
    background: #fff;
    padding: .8rem 0;
    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.07);
}
.header nav.navbar{
    padding: 5px 0px !important;
}

nav.navbar .side-navbar-wrapper {
    width: 100%;
    height: 100%;
}

nav.navbar .container-fluid {
    width: 100%;
}

nav.navbar .navbar-holder {
    width: 100%;
}

nav.navbar a {
    font-size: 16px;
    color: #000;
    position: relative;
    font-weight: 600;
}

nav.navbar .badge {
    position: absolute;
    top: 0;
    right: 0;
}

nav.navbar a.language span {
    margin-left: .2rem;
    vertical-align: middle;
}

nav.navbar a.logout i {
    margin-left: 5px;
}

nav.navbar small {
    font-size: 0.75rem;
    color: #999;
}

nav.navbar a.navbar-brand {
    margin-left: 10px;
}

nav.navbar .brand-text {
    text-transform: uppercase;
}

nav.navbar .brand-text strong {
    font-size: 1.5em;
}

nav.navbar .nav-menu {
    margin-bottom: 0;
}

nav.navbar .dropdown-toggle::after {
    border: none !important;
    content: '\f107';
    vertical-align: baseline;
    font-family: 'FontAwesome';
    margin-left: .3rem;
}

nav.navbar .dropdown-menu {
    right: 0;
    left: auto;
    float: left;
    margin-top: 16px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
    padding: 1rem;
}

nav.navbar .dropdown-menu .dropdown-item {
    color: #666;
    padding: 10px;
}

nav.navbar .dropdown-menu .dropdown-item:active {
    color: #fff;
}

nav.navbar .dropdown-menu .dropdown-item:active span,
nav.navbar .dropdown-menu .dropdown-item:active small {
    color: #fff;
}

nav.navbar .dropdown-menu .dropdown-item span {
    color: #777;
}

nav.navbar .dropdown-menu .dropdown-item i {
    margin-right: 5px;
}

nav.navbar .msg-body span,
nav.navbar .msg-body strong {
    display: block;
}

nav.navbar .msg-body span {
    font-size: 0.85em;
}

nav.navbar .msg-profile {
    margin-right: 10px;
    width: 50px;
}

nav.navbar .notification-content {
    font-size: .8rem;
    margin-right: .5rem;
}

nav.navbar a.menu-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #292929;
    color: #fff;
    text-align: center;
    padding: 0 !important;
    display: none;
}

nav.navbar a.menu-btn i[class*='icon-'] {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

nav.navbar a.menu-btn:hover {
    background: #19abb5;
}


/*  NAVBAR MEDIAQUERIES ---------------------------------- */

@media (max-width: 575px) {
    nav.navbar .dropdown-menu {
        width: auto;
        right: -40px;
    }
    nav.navbar .notification {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    nav.navbar .dropdown-menu strong {
        font-weight: 400;
    }
    nav.navbar .dropdown-menu a {
        font-size: 0.9em;
    }
}


/*
* ==========================================================
*     SIDE NAVBAR
* ==========================================================
*/

.side-navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    text-align: left;
    background: #f4f7f9;
    color: #fff;
    z-index: 9;
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /*  Side navbar small ------------------------ */
}

.side-navbar .scrolled-wrapper {
    width: 100%;
    height: 100%;
}

.side-navbar.hide {
    left: -70px;
}

.side-navbar a.brand-small {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0;
}

.side-navbar a.brand-small:hover,
.side-navbar a.brand-small:focus {
    background: none;
}

.side-navbar a.brand-small strong {
    font-size: 1.5rem;
}

.side-navbar li {
    position: relative;
}

.side-navbar li a {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    width: 100%;
    padding: 12px;
}

.side-navbar li a:focus,
.side-navbar li a.active,
.side-navbar li a:hover,
.side-navbar li a[aria-expanded="true"] {
    background: #fff;
    border-radius: 24px;
    box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.08);
    color: #000;
    text-decoration: none;
    font-weight: 900;
}

.side-navbar li a:focus svg path,
.side-navbar li a:hover svg path,
.side-navbar li a[aria-expanded="true"] svg path {
    fill: #18adb7;
}

.side-navbar li a[data-toggle="collapse"]::before {
    content: '';
    position: absolute;
    right: 20px;
    border: solid rgba(0,0,0,0.4);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    float: right;
    margin: 7px 0px 4px 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 4px;
}

.side-navbar li a[aria-expanded="true"]::before {
    content: '';
    margin: 7px 0px 4px 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);

}
.side-navbar li a[aria-expanded="false"]::before {
    content: '';
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 4px;
}


.side-navbar li.active>a {
    background: #33b35a;
}

.side-navbar li li.active>a {
    background: #2d9f50 !important;
}

.side-navbar li ul {
    background: none;
    position: relative;
    min-width: 100%;
    left: 0;
    padding-left: 0;
}

.side-navbar li ul a {
    padding: 10px 10px 0px 24px !important;
    font-size: 12px;
    color: rgba(0,0,0,0.4);
}

.side-navbar li ul.collapse a {

}

.side-navbar li ul.collapse a:hover, .side-navbar li ul.collapse a:focus, .side-navbar li ul.collapse a:active {
    background: none;
    border-radius: 0px;
    box-shadow:none;
    color: #18adb7;
    text-decoration: none;
    font-weight: 900;
}

.side-navbar .sidenav-header {
    background: #292929;
    padding: 14px;
    margin-bottom: 10px;
}

.side-navbar .sidenav-header img {
    width: 50px;
    height: 50px;
}

.side-navbar .sidenav-header span {
    font-size: 0.8em;
    color: #666;
}

.side-navbar .sidenav-header h2 {
    margin: 10px 0 0;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.side-navbar .sidenav-heading {
    font-weight: 700;
    color: #adb5bd;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-navbar i[class*='icon-'] {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.side-navbar span {
    display: inline-block;
}

.side-navbar i {
    font-size: inherit;
    margin-right: 10px;
}

.side-menu .svg-inline--fa {
    margin-right: 15px;
    display: inline-block;
}

.side-navbar .badge {
    display: inline-block;
    font-size: 0.6em;
}

.side-navbar .brand-small {
    display: none;
}

.side-navbar.shrink {
    width: 70px;
    text-align: center;
}

.side-navbar.shrink .brand-small {
    display: block;
}

.side-navbar.shrink .sidenav-header-inner {
    display: none;
}

.side-navbar.shrink .sidenav-heading {
    margin-left: 0;
    font-size: .8rem;
}

.side-navbar.shrink ul li a {
    font-size: .7rem;
    padding-left: 5px;
    padding-right: 5px;
}

.side-navbar.shrink ul li a[data-toggle="collapse"]::before {
    content: '\f107';
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    position: absolute;
    top: auto;
    right: 50%;
    bottom: 0;
    left: auto;
}

.side-navbar.shrink ul li a[data-toggle="collapse"][aria-expanded="true"]::before {
    content: '\f106';
}

.side-navbar.shrink ul li ul a {
    padding-left: 10px;
    font-size: .7rem;
}

.side-navbar.shrink i {
    display: block;
    margin-right: 0;
    font-size: 1rem;
}

.side-navbar.shrink .arrow {
    float: none;
    -webkit-transform: none !important;
    transform: none !important;
}

.side-navbar.shrink .badge {
    display: none;
}


/* SIDE NAVBAR MEDIAQUERIES ------------------------------ */

@media (max-width: 1023px) {
    .page {
        width: 100%;
    }
    .page.active {
        width: 100%;
    }
    .page.active-sm {
        width: calc(100% - 70px);
    }
    .side-navbar {
        left: -70px;
        width: 70px;
        text-align: center;
    }
    .side-navbar.show-sm {
        left: 0 !important;
    }
    .side-navbar .brand-small {
        display: block;
    }
    .side-navbar .sidenav-header-inner {
        display: none;
    }
    .side-navbar .sidenav-heading {
        margin-left: 0;
        font-size: .8rem;
    }
    .side-navbar ul li a {
        font-size: .7rem;
        padding-left: 5px;
        padding-right: 5px;
    }
    .side-navbar ul li a[data-toggle="collapse"]::before {
        content: '\f107';
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        position: absolute;
        top: auto;
        right: 50%;
        bottom: 0;
        left: auto;
    }
    .side-navbar ul li a[data-toggle="collapse"][aria-expanded="true"]::before {
        content: '\f106';
    }
    .side-navbar ul li ul a {
        padding-left: 10px;
        font-size: .7rem;
    }
    .side-navbar i {
        display: block;
        margin-right: 0;
        font-size: 1rem;
    }
    .side-navbar .arrow {
        float: none;
        -webkit-transform: none !important;
        transform: none !important;
    }
    .side-navbar .badge {
        display: none;
    }
}

@media (min-width: 1024px) {
    .main-menu {
        padding-left: 25px;
        padding-top: 72px;
        padding-right: 25px;
    }
    .side-navbar li a {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.4);
        text-decoration: none;
        width: 100%;
        padding: 14px;
        display: block;
        line-height: 17px;
        margin-bottom: 5px;
    }
    .shrink .main-menu {
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
    }
}


/* Malihu Custom Scroll */

.mCSB_scrollTools {
    width: 4px;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #33b35a;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
    background-color: #33b35a;
}


/*
* ==========================================================
*       MAIN FOOTER
* ==========================================================
*/

footer.main-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #222;
    padding: 10px 0;
}

footer.main-footer p {
    font-size: 0.7em;
    color: #777;
    margin: 0;
}


/* MAIN FOOTER MEDIAQUERIES ------------------------- */

@media (max-width: 575px) {
    footer.main-footer div[class*="col-"] {
        text-align: center !important;
    }
}

@media (min-width: 768px) {
    footer.main-footer p {
        font-size: 0.9em;
    }
}

.prof-img {
    width: 41px;
    height: 41px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
}

.prof-img img {
    width: 100%;
    height: 100%;
}


/*custom css*/

.custom-mt {
    margin-top: 67px;
}

.page-pos {
    top: 67px
}

.fixed-header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.back-arrow {
    width: 30px;
    height: 30px;
    padding: 3px 4px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #e2e2e2;
    display: inline-block;
    font-size: 14px;
    color: #000000b5;
    margin-bottom: 30px;
}

.back-arrow:hover {
    background: #f4f7f9;
    cursor: pointer;
}


/*table*/

.table {
    border: none;
}

.usr-table {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.88);
}

.usr-table thead th {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    font-weight: 700;
    padding: 18px 20px;
}

.usr-table tr td {
    font-weight: 400;
    padding: 16px 20px;
    line-height: 19px;
}

.card {
   /* border: 1px solid #e4e4e4;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.03);*/
    border-radius: 6px;
    box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #f5f5f5;
    background-color: #ffffff;
}

.table td,
.table th {
    border-top: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.sm-title {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    line-height: 22px;
}

.lg-title {
    font-size: 36px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 47px;
}

.usr-table-head-tab {
    margin-bottom: 24px;
}

.usr-table-head-tab .nav-tabs {
    border: none;
}

.usr-table-head-tab .nav li {
    margin-right: 46px;
}

.usr-table-head-tab .nav li a {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 4px 18px;
}

.usr-table-head-tab .nav li a:hover,
.usr-table-head-tab .nav li .active {
    color: #19abb5;
    font-weight: 700;
    opacity: 1;
    background: rgba(25, 171, 181, 0.10);
}
.usr-table-head-tab .selectbox{
    margin-top: -10px;
}
.view {
    color: #14bf65;
    font-weight: 500;
}

.buton {
    padding: 5px 17px;
    text-align: center;
    display: inline-block;
    border-radius: 13px;
    line-height: 16px;
}

.success {
    background: #cffedd;
}

.running {
    background: #f9fecf;
}

.paused {
    background: #fecfcf;
}
.complete{
    background: #39bd60;
}
#report thead th:nth-child(2) {
    width: 230px;
}

#report thead th:nth-child(1) {
    width: 230px;
}

#communication .usr-table td {
    font-size: 14px;
    color: #000;
}

#communication thead th:nth-child(1) {
    width: 240px;
}

#communication td:nth-child(1) {
    color: #4e95fb;
}

#communication .view {
    font-size: 16px;
}

.usr-detail-wrp {
    padding: 20px 34px;
}

.usr-d-row {
    margin-bottom: 28px;
}

.usr-icn {
    width: 54px;
    height: 54px;
    float: left;
    background: #f4f7f9;
    border: 1px solid #e8e8e8;
    border-radius: 100%;
    -moz-border-radius: 100%;
}

.usr-info {
    margin-left: 74px;
    display: block;
    overflow: hidden;
}

.usr-info-sm {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
    line-height: 17px;
    margin-top: 5px;
}

.usr-info-lg {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    line-height: 27px;
}


/* User Manager*/

.upload-cust-row {
    margin-top: 22px;
}

.upload-cust .card-padd {
    padding: 29px 27px;
    margin-right: 16px;
}

.upload-cust .col-5 .card-padd {
    margin-right: 0px;
}

.main-titl {
    font-size: 20px;
    font-weight: 700;
    opacity: 0.8;
    line-height: 17px;
}

.u-card-inr {
    background: #f4f7f9;
    padding: 15px 17px;
    border-radius: 4px;
}

.u-select-title {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    margin-bottom: 11px;
}

.select_container {
    position: relative;
    width: 100%;
}

.select_container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 46px;
    font-size: 14px;
    color: #000000;
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding: 12px 17px;
    outline: 0;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-weight: 400;
    background: #fff;
}

.select_container::after {
    content: '';
    border: solid #00000094;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 19px;
    right: 17px;
    z-index: 9;
}

.uplodr {
    text-align: center;
}

.upload-txt {
    color: #15c367;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    cursor: pointer;
}

.smlor {
    color: #000000cf;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    margin: 7px 0px;
}

.dragtxt {
    color: #000000a1;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


/*find customer start*/

.mt-45 {
    margin-top: 45px;
}

.find-cust-wrp .nav-tabs {
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
}

.find-cust-wrp .nav-tabs li {
    margin-right: 36px;
}

.find-cust-wrp .nav li a {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    opacity: 0.6;
}

.find-cust-wrp .nav li a:hover,
.find-cust-wrp .nav li .active {
    color: #19abb5;
    opacity: 1;
    font-weight: 700;
}


/*customer report*/

.customfilter-wrp .card {
    padding-top: 16px;
}

.cust-report {
    margin-top: 35px;
}

.reslt-txt {
    font-size: 14px;
    color: #000;
    opacity: 0.5;
    font-weight: 400;
    margin-top: 6px;
}

.cust-report .main-titl {
    font-size: 18px;
}

.cust-table {
    margin-top: 12px;
}

.filtr-row {
    margin-bottom: 16px;
}

.fltr-sm-title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 9px;
}

.remove-btn {
    padding: 15px;
    border-radius: 18px;
    position: relative;
    width: 31px;
    height: 31px;
    margin-top: 36px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    color: #fff;
    align-self: center;
}

.remove-btn:hover {
    cursor: pointer;
}

.remove-btn:before,
.remove-btn:after {
    position: absolute;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #fff;
    left: 1px;
    right: 0px;
    margin: auto;
    top: 0px;
    bottom: 0px;
}

.remove-btn:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.remove-btn:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.shdw {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.text-btn {
    display: inline-block;
    font-size: 14px;
    color: #18abb5 !Important;
    font-weight: 700;
    vertical-align: middle;
    cursor: pointer;
}

.btnwrp {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.filtrbtn {
    padding: 5px 16px;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 4px;
    line-height: 17px;
    display: inline-block;
    text-align: center;
    float: left;
}

.filtrbtn.active {
    color: #19abb5;
    border: 1px solid #19abb5;
}

.filtr-row-wrp {
    margin-bottom: 16px;
}

.filter-footer {
    background: #f9f9f9;
    padding: 24px 20px;
}

.ftrbtn {
    border-radius: 6px;
    text-align: center;
    padding: 13px 23px;
    display: inline-block;
    line-height: 19px;
    cursor: pointer;
}

.greybtn {
    background: #4d5551;
    border: 1px solid #4d5551;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
}

.bluebtn {
    background: #19a7b2;
    border: 1px solid #19a7b2;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(23, 122, 169, 0.2);
    background-image: linear-gradient(107deg, #14c4cc, #19a7b2);
}

.resetbtn {
    background: #fff;
    color: #df2626;
    border: 1px solid #df2626;
    font-size: 16px;
    font-weight: 400;
    width: 130px;
}

.form-control {
    height: 46px;
    padding: 15px 16px;
    font-size: 14px;
    line-height: 17px;
    color: #000000d6;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    font-weight: 400;
    font-family: 'Lato', sans-sarif;
}

.form-control::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #00000078;
}

.form-control::-moz-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #00000078;
}

.form-group label {
    font-size: 14px;
    color: #0000009e;
    font-weight: 400;
}

.save-btn {
    font-weight: 500;
    color: #24be3f;
    border: 1px solid #24be3f;
    margin-left: 12px;
    height: 46px;
}

.filter-footer input {
    border-radius: 4px !Important;
}

.filter-footer .save-btn {
    margin-left: 12px;
    border-radius: 4px !Important;
}

.filter-footer .form-group {
    margin-bottom: 0px;
}


/*mapper popup start*/

.modal {
    font-family: 'Lato', sans-serif;
}

.mapper-popup .modal-dialog {
    width: 900px;
    max-width: 100%;
}

.mapper-popup .modal-content {
    border-radius: 12px;
    box-shadow: 0px 11px 34px 0px rgba(0, 0, 0, 0.08);
}

.mapper-popup .modal-header {
    padding: 23px 30px;
    border: none;
}

.mapper-popup .modal-title {
    font-size: 24px;
    color: #000;
    font-weight: 800;
}

.mapper-popup .modal-topbody {
    background: #f4f7f9;
    padding: 22px 25px 12px;
}

.mapname {
    margin-bottom: 11px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.mapr-width {
    width: 577px;
}

.field-wrp {}

.field-div1 {
    width: 550px;
    float: left;
}

.field-div2 {
    width: 307px;
    float: left;
}

.d-field {
    width: 188px;
    float: left;
}

.m-field {
    width: 307px;
    margin: 0px 26px;
    float: left;
}

.maptitile {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.mapinput {
    border-radius: 6px;
    background: #fafafa;
    color: #000;
    padding: 18px 21px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    height: 55px;
}

.d-field .mapinput {
    background: #fafafa;
    border: 1px solid #fafafa;
}

.m-field input {
    background: #fff;
    border: 1px solid #e0e0e0;
    width: 100%;
}

.active .mapinput {
    border: 1px solid #0cbe6c;
    color: #0cbe6c;
    background: #fff;
}

.maprrow {
    margin-bottom: 15px
}

.uploaded-field {
    border: 1px solid #fafafa;
    border-radius: 6px;
    background: #fafafa;
    color: #000;
    padding: 18px 21px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    height: 55px;
    text-align: center;
    margin-bottom: 15px
}

.mapper-popup .modal-footer {
    background: #f4f7f9;
    padding: 30px 24px;
}

.maptxt {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.map-no {
    width: 39px;
    height: 39px;
    color: #fff;
    background: #0cbe6c;
    border-radius: 100%;
    font-weight: 600;
    padding: 8px 9px;
    text-align: center;
    margin-right: 12px;
    display: inline-block;
}

.btn-reset,
.btn-mapper {
    border-radius: 6px;
    text-align: center;
    padding: 13px 23px;
    display: inline-block;
    line-height: 19px;
    cursor: pointer;
}

.btn-reset {
    background: #fff;
    color: #df2626;
    border: 1px solid #df2626;
    font-size: 16px;
    font-weight: 400;
    width: 130px;
    margin-right: 12px;
    float: right;
}

.btn-mapper {
    background: #19d270;
    border: 1px solid #19d270;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(24, 206, 110, 0.31);
    float: right;
    background-image: linear-gradient(104deg, #14bf65, #19d270);
}


/*campaign list table*/

.campaign-list-table table th:first-child {
    width: 230px;
}

.campaign-list-table table td {
    color: #000;
}

.advance-filter {
    margin-bottom: 20px;
}
.advance-filter .greybtn{
    margin-top: 29px;
}
.advance-filter .col {
    margin-right: 14px;
}

.advance-filter .col:last-child {
    margin-right: 0px;
}

.advance-filter .select_container select {
    border: 1px solid #e8e8e8;
}

.adv-srch-wrp {
    display: flex;
    justify-content: flex-end;
}

.adv-srch-input {
    width: 314px;
    margin-bottom: 0px;
    position: relative;
}

.adv-btn {
    border-radius: 6px;
    text-align: center;
    padding: 13px 13px;
    display: inline-block;
    line-height: 19px;
    cursor: pointer;
    height: 46px;
}

.whitebtn {
    background: #fff;
    color: #18adb7;
    border: 1px solid #e8e8e8;
    font-size: 12px;
    font-weight: 600;
    width: 143px;
    margin-left: 12px;
}

.bluecreatebtn {
    background: #19a7b2;
    border: 1px solid #19a7b2;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: 207px;
    margin-left: 12px;
    box-shadow: 0px 10px 21px 0px rgba(23, 122, 169, 0.2);
    background-image: linear-gradient(103deg, #14c4cc, #19a7b2);
}

.camp-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.88);
}

.camp-nmbr {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 7px;
    color: rgba(0, 0, 0, 0.5);
}

.adv-btn i {
    border: solid #46a8b3;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    float: right;
}

.down_arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 4px;
}

.adv-btn[aria-expanded="true"] {
    border: 1px solid #46a8b3;
}

.adv-btn[aria-expanded="true"] i {
    margin: 7px 0px 4px 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.adv-btn[aria-expanded="false"] i {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 4px;
}

.up_arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 20px !important;
}

.srch-icn {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #000;
    opacity: 0.5;
}


/*create title start*/
.create-trigger-wrp .form-group label{
    color: rgba(0,0,0,0.88);
}

.xl-title {
    font-size: 28px;
    color: #000;
    opacity: 0.8;
    font-weight: 700;
    text-align: center;
    margin-bottom: 31px;
}

.camp-type {
    padding: 30px 30px;
    border-radius: 6px;
    box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border: solid 1px #f5f5f5;
    margin: auto;
}

.camp-type .nav.btnwrp {
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-bottom: 25px;
}

.camp-type .nav.btnwrp li {
    float: left;
}

.camp-type .filtrbtn {
    padding: 6px 13px;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000b5;
    font-weight: 600;
    border-width: 2px;
    min-width: 62px;
}

.camp-type .filtrbtn.active {
    color: #19abb5;
    font-weight: 600;
}

.camptype-form {
    width: 537px;
    margin: auto;
}

.camptype-form .form-group textarea {
    height: 85px;
}

.camptype-form .form-group textarea,
.camptype-form .form-group input[type="text"] {
    background: #f4f7f9;
    border-radius: 4px;
}

.btn-grey {
    background: #4d5551;
    border: 1px solid #4d5551;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
    padding: 11px 17px;
    height: 46px;
}

.btn-blue {
    background: #19a7b2;
    border: 1px solid #19a7b2;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 8px 16px 0px rgba(23, 122, 169, 0.2);
    padding: 11px 17px;
    height: 46px;
}

.camptype-form .btn.btn-grey {
    margin-left: 12px;
    border-radius: 4px;
    padding: 12px 17px;
    height: 46px;
    font-size: 14px;
}


/*email start*/

.emailcontent-wrp {
    border-top: 1px solid #0000001a;
    padding-top: 22px;
}

.emailcontent-wrp .camptype-form {
    width: 553px;
    margin: auto;
    margin-left: 0px;
}

.emailcontent-wrp .camptype-form textarea {
    height: 345px;
}

.template-list {
    padding-bottom: 45px;
    margin-bottom: 31px;
    border-bottom: 1px solid #0000001a;
    margin-top: 22px;
}

.temp-titl {
    font-size: 16px;
    color: #000000ab;
    line-height: 17px;
    font-weight: 400;
}

.template-list ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.template-list ul li {
    width: 135px;
    height: 149px;
    position: relative;
    list-style-type: none;
    margin-right: 35px;
    display: inline-block;
    vertical-align: text-bottom;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
    border: 8px solid #fff;
}

.template-list ul li img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.template-list ul li:last-child {
    margin-right: 0px;
}

.template-list ul li.active:after {
    content: '';
    opacity: 0.78;
    background-image: linear-gradient(to bottom, #0088ff, #054648);
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
}

.template-list ul li.active:before {
    content: '';
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    z-index: 99;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 10px;
    height: 25px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/**/
.btnNext, .btnPrevious{
    min-width: 108px;
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    padding: 12px 10px;
    height: 44px;
    border-radius: 6px;
    color: rgba(0,0,0,0.6) !important;
    margin: 0px 5px;
    line-height: 18px;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #eaeaea;
}
.btnNext {
    background: #14bf65;
    border: 1px solid #14bf65;
    color: #fff !important;
    background-image: linear-gradient(110deg, #14bf65, #19d270);
    box-shadow: 0 10px 17px 0 rgba(45, 204, 118, 0.36);
}
.button-wrp {
    margin-top: 46px;
}

.button-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 85px;
    background-color: #ffffff;
    box-shadow: 0 -14px 30px 0 rgba(0, 0, 0, 0.04);
    padding: 22px 0px 19px 0px;
    /* position: fixed; */
    width: auto;
    bottom: 0px;
    /* z-index: 999; */
    margin-left: -27px;
    margin-right: -40px;
    margin-bottom: -50px;
}


/*camp filter start*/

.camp-filter {
    padding-top: 22px;
    padding-bottom: 22px;
}


/*camp trigger*/

.trigrbtndiv-wrp {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 30px 0px 35px;
}

.trigr-div {
    flex: 1;
}

.trigr-or {
    font-size: 16px;
    margin: 20px 25px;
    font-weight: 400;
}

.trigr-div .btn {
    width: 139px;
    height: 44px;
    line-height: 18px;
    border-radius: 6px;
}

.trigr-div p {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    opacity: 0.7;
}

.trigr-or {
    margin-top: 10px;
}


/*create trigger sart*/

.subheading {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #000;
    opacity: 0.8;
}

.camp-create-trigger {
    margin-bottom: 32px;
}

.camp-create-trigger ul.nav-tabs {
    border: none;
    margin-bottom: 23px;
}

.camp-create-trigger .nav li a {
    font-size: 18px;
    color: #000;
    opacity: 0.6;
    font-weight: 400;
    margin-right: 34px;
}

.camp-create-trigger .nav li a.active {
    color: #19abb5;
    font-weight: 600;
    opacity: 1;
}

.btn-outline {
    border: 1px solid #dcdcdc;
}

.onetime-wrp .btn-outline {
    border-radius: 4px;
}

.cardpadding {
    padding: 22px 21px;
}

.datetime-div {
    max-width: 170px !Important;
    min-width: 170px !Important;
    border-radius: 4px!Important;
    font-weight: 600 !important;
}

.icn-div {
    width: 45px;
    padding: 10px 10px;
    margin-right: 6px;
}

.icn-div svg path {
    color: #19abb5;
}

.brdr-btm {
    border-bottom: 1px solid #00000012;
    padding-bottom: 1rem;
}

.cust-input {
    width: 225px;
}

.cust-group-input {
    width: 400px;
}

.cust-group-input .form-control,
.cust-group-input .input-group-append .btn {
    border-radius: 4px !important;
}

.campaignTab {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    width: 470px;
}
.strip {
    background: #f4f7f9;
    border-radius: 28px;
}
.campaignTab .nav-link {
    display: block;
    padding: 17px 0px;
}
.stepcount {
    width: 23px;
    height: 23px;
    border-radius: 100%;
    color: #000;
    font-size: 12px;
    text-align: center;
    background: #fff;
    padding: 2px;
    margin-right: 10px;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.07);
    vertical-align: middle;
    font-weight: 600;
    position: relative;
}

.campaignTab.nav-tabs {
    border: none;
}

.campaignTab.nav-tabs .nav-link {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    font-family: 'Lato';
    border: none;
    background: transparent;
}

.campaignTab.nav-tabs .nav-link.active {
    color: #20a85f;
    font-weight: 600;
}

.campaignTab.nav-tabs .nav-link.active .stepcount {
    color: #fff;
    background: #fff;
    border: 1px solid #20a85f;
    background-image: linear-gradient(165deg, #20a85f, #28b26e 52%, #32d082);
    box-shadow: 0 5px 8px 0 rgba(27, 155, 88, 0.25);
}

.stepcount.active {
    color: #fff!important;
    background-image: linear-gradient(165deg, #20a85f, #28b26e 52%, #32d082) !important;
    box-shadow: 0 5px 8px 0 rgba(27, 155, 88, 0.25) !important;
    font-size: 0px;
    border: 1px solid #20a85f;
}

.stepcount.active:after {
    content: '';
    color: #fff;
    font-weight: bold;
    position: absolute;
    z-index: 99;
    left: 0px;
    right: 0px;
    top: -3px;
    bottom: 0px;
    margin: auto;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.dashed-brdr {
    padding-left: 15px;
    padding-right: 15px;
    color: #000;
}
.campaignTab .nav-link.active .dashed-brdr {
    color: #20a85f;
}

.camp-start {
    margin: 60px 20px 45px 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}

.camp-row {}

.camp-icon {
    width: 90px;
    height: 90px;
    background: #f4f7f9;
    border: 1px solid #e8e8e8;
    border-radius: 100%;
    -moz-border-radius: 100%;
    float: left;
    position: relative;
}

.camp-desc {
    margin-left: 115px;
    display: block;
    overflow: hidden;
}

.camp-desc p,
.camp-desc {
    font-size: 16px;
    color: #000000ab;
    font-weight: 400;
    line-height: 19px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.desc-title {
    font-size: 20px;
    color: #000000ab;
    font-weight: 600;
}

.camp-maintxt {
    font-size: 22px;
    color: #000000cc;
    font-weight: 800;
    margin: 0px auto 36px auto;
    text-align: center;
}

.sml-title {
    font-size: 18px;
    color: #000000bd;
    font-weight: 500;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 30px;
}

.text-captl {
    text-transform: capitalize;
}
/*Login start*/
.welcm-wrp{
    text-align: center;
}
.login-logo{
    width: 198px;
    height: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 32px;
}
.login-logo img{
    max-width: 100%;
    max-height: 100%;
}
.welcm-subtxt{
    font-size: 24px;
    font-weight: 300;
    color:rgba(0,0,0,0.9);
    line-height: 29px;
}
.welcm-maintxt{
    font-size: 40px;
    font-weight: 800;
    color:rgba(0,0,0,0.9);
    line-height: 48px;
    position: relative;
    margin-bottom: 43px;
}
.welcm-maintxt:after {
    content: '';
    width: 64px;
    height: 4px;
    background: #28a6e3;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -9px;
    margin: auto;
}
.page-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(https://ak4.picdn.net/shutterstock/videos/25969574/thumb/1.jpg);
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}
.page-bg:before {
    content: '';
    background-image: radial-gradient(circle at 51% 54%, rgba(209, 246, 242, 0), #ffffff);
    display: inline-block;
    width: 100%;
    height: 100%;
    position: fixed;
}
.page-wrap{
    width: 80%;
    /*height:540px;*/
    height:auto;
    margin: auto;
    z-index: 9;

}
.card-panel{
    background: #fff;
    width: 400px;
    /*height: 345px;*/
    margin: auto;
    padding: 32px 28px;
}
.card-panel .form-control{
    height: 44px;
    border: 1px solid #e9e9e9;
    font-size: 16px;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}
.login-btn{
    background-image: linear-gradient(to right, #25a5ee, #62bee2 42%, #46ceb5);
    box-shadow: 0 9px 20px 0 rgba(90, 193, 214, 0.2);
    color: #fff !Important;
    text-align: center;
    font-size: 14px !Important;
    font-weight: 700 !Important;
    text-transform: uppercase;
}
.forget-pass{
    text-align: center;
    margin-top: 19px;
    color:rgba(0,0,0,0.7);
    font-size: 14px;
}
.card-panel{
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 74px 0 rgba(0, 0, 0, 0.13);
}
.card-panel .form-group{
    position: relative;
}
.logindiv .form-group{
    margin-bottom: 27px;
}
.logindiv label{
    color: rgba(0,0,0,.45);
    margin-bottom: 9px;
}

.error input.form-control{
    border: 1px solid #ff0000;
}
.error-msg {
    color: #ff0000;
    font-size: 10px;
    position: absolute;
    bottom: -15px;
    left: 2px;
    line-height: 12px;
}
/*forget start*/
.fg-wrp{
    text-align: center;
}
.fg-txt{
    font-size: 24px;
    color: rgba(0,0,0,0.9);
    font-weight: 800;
}
.fg-subtxt{
    font-size: 16px;
    color: rgba(0,0,0,0.9);
    font-weight: 400;
    margin-top: 11px;
    margin-bottom: 44px;
}
.emailsuccessdiv{
    text-align: center;
}
.successtxt{
    font-size: 24px;
    color: rgba(20, 192, 100, 0.9);
    font-weight: 700;
}
.tickicn {
    width: 9px;
    height: 17px;
    border-top: 3px solid rgba(20, 192, 100, 0.9);
    border-left: 3px solid rgba(20, 192, 100, 0.9);
    transform: rotate(-135deg);
    margin-right: 8px;
}
.emailtxt{
    font-size: 16px;
    color: rgba(0,0,0,0.9);
    line-height: 22px;
    margin-top: 16px;
    padding: 0px 15px;
}
.sub-emailtxt{
    font-size: 14px;
    color: #292929;
    font-weight: 500;
    margin-top: 29px;
}
.sub-emailtxt b{
    color: #19abb5;
}
.checked-icn {
    width: 8px;
    height: 14px;
    border-top: 2px solid rgba(20, 192, 100, 0.9);
    border-left: 2px solid rgba(20, 192, 100, 0.9);
    transform: rotate(-135deg);
    margin-right: 8px;
    position: absolute;
    right: 5px;
    bottom: 18px;
}
.resetpassdiv .form-group{
    margin-bottom: 27px;
}
.resetsuccessdiv .card-panel{
    padding: 16px 29px;
}
.resetsuccessdiv .fg-subtxt{
    margin-bottom: 27px;
}
/*profile start*/
.prof-head{
    margin-bottom: 58px;
}
.prof-name{
    font-size: 24px;
    color: rgba(0,0,0,0.8);
    font-weight: 600;
}
.prof-pic{
    width: 98px;
    height: 98px;
    border-radius: 100%;
    box-shadow: 0 6px 27px 0 rgba(0, 0, 0, 0.32);
    float: left;
}
.prof-pic img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    margin-right: 35px;
}
.prof-card{
    border-radius: 6px;
    background-image: linear-gradient(100deg, #25a5ee, #3aaa9b);
    box-shadow: 0 7px 26px 0 rgba(49, 168, 189, 0.58);
    height: 99px;
    margin-top: 16px;
    padding: 25px;
}
.prof-detail{
    margin-left: 135px;
    overflow: hidden;
    display: block;
    display: flex;
}
.prof-col1 {
    flex: 0 15%;
}
.prof-col2 {
    flex: 0 55%;
    border-right: 1px solid #d8d8d857;
    border-left: 1px solid #d8d8d857;
    padding: 0px 20px;
    margin: 0px 20px;
}
.prof-col3 {
    flex: 0 30%;
}
.prof-credit{
    font-size: 16px;
    color: rgba(0,0,0,0.6);
    line-height: 36px;
    font-weight: 500;
}
.prof-sm-txt{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 17px;
}
.prof-lg-txt{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-top: 7px;
    line-height: 22px;
}
.prof-creditdiv{
    font-size: 42px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
}
.rupee-icn{
    font-size: 30px;
    font-weight: 300;
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
}
.profnav{
    border: none;
    margin-bottom: 18px;
}
.profnav li a{
    padding: 4px 18px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color:rgba(0,0,0,0.6);
    border-radius: 5px;
    margin-right: 30px;
}
.profnav li a.active, .profnav li a:hover{
    background: rgba(25, 171, 181, 0.10);
    color: #19abb5;
}
.dropdown-item.active, .dropdown-item:active{
    background: inherit !important;
    color: inherit !Important;
}
/*activity start*/
.activityrow{
    padding-bottom: 23px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.10);
}
.act-titl{
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    position: relative;
}
.act-titl:before {
    content: '';
    width: 4px;
    height: 39px;
    background: #fa8383;
    display: inline-block;
    position: absolute;
    left: -21px;
    top: -6px;
}

.activityrow:nth-child(2n) .act-titl:before{
    background: #5471db;
}
.act-titl strong{
    color: #18adb7;
    font-weight: 500;
    line-height: 22px;
}
.act-txt{
    font-size: 14px;
    color:rgba(0,0,0,0.8);
    margin-top: 20px;
}
.act-txt svg{
    color: rgba(0,0,0,0.4);
    margin-right: 15px;
    font-weight: normal;
    margin-right: 15px;
    display: inline-block;
}
.downlod{
    color:#e65d5d ;
    font-weight: 500;
}
.act-txt.downlod i {
    color: rgba(0, 0, 0, 0.4) !important;
    font-weight: normal !important;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.prof-wrap .tab-content{
    clear: both;
}
.selectbox{
    min-width: 240px;
}
.selectbox .dropdown-menu{
    width: 100%;
}
.selectbox .dropdown-menu li{
    width: 100%;
}
.dropdown-btn{
    border-radius: 4px;
    box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border: solid 1px #f5f5f5;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
    color: rgba(0,0,0,0.8);
    width: 100%;
    text-align: left;
    position: relative;
}
.dropdown-btn:after{
    border: none;
    border: solid rgba(0,0,0,0.5);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: 17px;
}
.dropdown-btn:focus{
    outline: none;
}
.selectbox .dropdown-menu{
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.09);
}
.selectbox .dropdown-menu li{
    font-size: 14px;
    color: rgba(0,0,0,0.88);
    padding:0px 20px;
    line-height: 38px;
}
.settingrow{
    font-size: 16px;
    color: rgba(0,0,0,0.7);
    font-weight: 500;
    padding-bottom: 18px;
    margin-bottom: 14px;
    border-bottom:1px solid rgba(151, 151, 151, 0.10)
}
.edit{
    font-size: 14px;
    color: #19abb5;
    font-weight: 600;
    margin-left: 100px;
    display: inline-block;
}
.cus-dropdown{
    font-size: 16px;
    color: #000;
    position: relative;
    font-weight: 600;
    cursor: pointer;
}
.cus-dropdown .dropdown-menu{
    margin-top: 0px !Important;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.09);
    border: none;
    padding: 0px !important;
}
.cus-dropdown .dropdown-menu li{
    padding: 0px !important;
}
.cus-dropdown .dropdown-menu li a{
    font-size: 14px !important;
    padding: 0px 16px !important;
    color: rgba(0,0,0,0.88) !important;
    line-height: 36px !important;
    font-weight: 400 !Important;
}
.cus-dropdown .dropdown-menu li:last-child a{
    color: rgba(98, 98, 98, 0.88) !important;
}
.cus-dropdown:hover>.dropdown-menu {
    display: block;
}

.cus-dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.chngepass-title{
    font-size: 16px;
    color: #000;
    font-weight: 600;
    margin-bottom: 48px;
}
.changepassword-wrap form{
    width: 25%;
}
.changepassword-wrap form .input-control{
    height: 44px !Important;
}
.changepassword-wrap form .form-group{
    margin-bottom: 28px;
    position: relative;
}
.gradient-btn{
    height: 44px;
    border-radius: 6px;
    background-image: linear-gradient(to right, #25a5ee, #62bee2 42%, #46ceb5);
    box-shadow: 0 9px 20px 0 rgba(90, 193, 214, 0.26);
    font-size: 14px;
    color: #fff;
    padding: 12px 35px;
    border:none;
    text-align: center;
    width: fit-content;
}
.gradient-btn:focus{
    outline: none;
}
.successmsg{
    font-size: 16px;
    color: #000;
    font-weight: 400;
    margin-bottom: 25px;
}
.successmsg span{
    color: #1eb246;
    font-weight: 600;
}
.success_checkbox {
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    vertical-align: text-top;
    position: relative;
    margin: 0 6px 0 0;
    background: #1eb246;
    line-height: 12px;
}
.checkmark{
    line-height: 17px;
}
.success_checkbox .checkmark:after{
    content: '';
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    margin-top: -1px;
    margin-left: 1px;
    display: inline-block;
}
#notifications:after {
    content: '';
    border-right: 2px solid rgba(151, 151, 151, .1);
    padding: 0px 10px;
    display: inline-block;
    height: 32px;
    vertical-align: bottom;
}
nav.navbar #notifications .badge {
    position: absolute;
    top: 5px;
    right: 26px;
}
.label-success{
    background: #30d126;
}
.notify-txt{
    font-size: 16px;
    color: rgba(0,0,0,0.4);
    text-align: center;
    margin-bottom: 10px;
    margin-top: -20px;
}
.material-switch > input[type="checkbox"] {
    display: none;
}
.material-switch{
font-size: 14px;
color: rgba(0,0,0,0.6);
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    vertical-align: bottom;
}

.material-switch > label::before {
    content: '';
    margin-top: -8px;
    position: absolute;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    width: 32.4px;
    height: 13.9px;
    border-radius: 45px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    left:0px;
}
.material-switch > label::after {
    border-radius: 16px;
    content: '';
    left: 0px;
    margin-top: -10px;
    position: absolute;
    top: 0px;
    transition: all 0.3s ease-in-out;
    width: 16.6px;
    height: 16.4px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 1;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    left: 17px;
}
.switch-notify-wrp{
    text-align-last: center;
    border-radius: 24px;
    background-color: #fafafa;
    padding: 15px 20px;
}
.switch-notify-wrp .material-switch:first-child{
    margin-right: 20px;
}
/* The customcheck */
.grey-wrp{
    text-align-last: center;
    border-radius: 24px;
    background-color: #fafafa;
    padding: 15px 40px;
    margin-right: 0px;
    float: right;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
}
.grey-wrp label.customcheck:last-child{
    margin-right: 0px;
}
.customcheck {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-right: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px !IMPORTANT;
}

/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.8);
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #19acb6;
    border: #19acb6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*camapaign report start*/
.txt-12{
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    line-height: 15px;
}
.txt-14{
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}
.txt-16{
     font-size: 16px;
     color: rgba(0,0,0,0.9);
 }
.txt-18{
    font-size: 18px !important;
    color: rgba(0,0,0,0.9);
    line-height: 22px;
}
.txt-20{
    font-size: 20px !important;
    color: rgba(0,0,0,0.8);
}
.txt-22{
    font-size: 22px;
    color: rgba(0,0,0,0.8);
}
.txt-32{
    font-size: 32px;
}
.txt-28{
    font-size: 28px;
}
.op-7{
    opacity: 0.7;
}
.cr-header{
    font-weight: 700;
    margin-bottom: 35px;
}
.cr-header .txt-32{
    line-height: 39px;
    margin-top: 9px;
}
.cr-header .txt-18{
    line-height: 22px;
    margin-top: 17px;
}
.border-right{
    border-right: 2px solid rgba(0,0,0,0.1);
}

.green-hollow-btn{
    border-radius: 6px;
    box-shadow: 0 10px 21px 0 rgba(18, 161, 93, 0.12);
    background-color: #ffffff;
    border: solid 2px #12a15d;
    text-align: center;
    color: #12a15d;
    font-size: 16px;
    font-weight: 900;
    padding: 12px 33px;
    line-height: 19px;
}
.green-hollow-btn:hover {
    background: #12a15d;
    color: #fff;
    cursor: pointer;
}
.green-hollow-btn:focus{
    outline: none;
}
.align-center{
    align-self: center;
}
.d-flex{
    display: flex;
}
.cr-subheader{
    font-weight: 700;
    margin-bottom: 28px;
    padding-bottom: 26px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.cr-subheader .txt-14{
    margin-bottom: 13px;
}
.cr-subheader .buton{
    font-size: 14px;
    font-weight: 400;
}
.sm-card {
    border-radius: 12px;
    box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border: solid 1px #f5f5f5;
    display: flex;
    margin-bottom: 21px;
}
.paneldiv{
    font-weight: 700;
}
.panel-left {
    flex: 4;
    border-right: 1px solid rgba(151, 151, 151, .1);
    padding: 13px 15px;
}
.panel-right {
    flex: 1;
    text-align: center;
    align-self: center;
    color: rgba(0,0,0,0.5);
    font-weight: 300;
}
.panel-right svg path{
    fill: rgba(0,0,0,0.5);
}
.paneldiv .txt-14{
    color: rgba(0,0,0,0.5);
    line-height: 19px;
}
.paneldiv .txt-16{
    color: rgba(0,0,0,0.5);
    line-height: 19px;
}
.paneldiv .txt-28{
    color: rgba(0,0,0,0.8);
    line-height: 34px;
}
.oval-icn{
    width: 52px;
    height: 52px;
    border-radius: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    position: relative;
}
.oval-icn i{
    color: #fff;
}
.oval-icn svg{
    font-size: 20px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top:0px;
    margin:auto;
}
.oval-icn svg path{
    color: #fff;
}
.blue-icn{
    background-image: linear-gradient(319deg, #56dbfe, #00c4ff 41%, #2381ff);
    box-shadow: 0 20px 20px 0 rgba(32, 135, 255, 0.2);
}
.green-icn{
    background-image: linear-gradient(315deg, #88f4db, #33c996 51%, #00b076);
    box-shadow: 0 10px 20px 0 rgba(33, 192, 139, 0.2);
}
.orange-icn{
    background-image: linear-gradient(317deg, #fdcd00, #fe9f00 48%, #fe7500);
    box-shadow: 0 20px 20px 0 rgba(253, 200, 0, 0.2);
}
.red-icn{
    background-image: linear-gradient(316deg, #fea294, #fd5b4c 54%, #eb4839);
    box-shadow: 0 10px 20px 0 rgba(253, 91, 76, 0.2);
}
.lightblue-icn{
    background-image: linear-gradient(311deg, #95e7df, #5cd2e3 52%, #1dbce7);
    box-shadow: 0 10px 20px 0 rgba(35, 190, 231, 0.2);
}
.purple-icn{
    background-image: linear-gradient(316deg, #e2a6ff, #c140ff 48%, #7e00e0);
    box-shadow: 0 20px 20px 0 rgba(149, 0, 220, 0.2);

}

.panel-txt{
    margin-left: 75px;
    overflow: hidden;display: block;
}


.c100{
    margin: auto !Important;
    float: none !Important;
}


.c100.green-chart{
    background-color:#c2f1d4 ;
    box-shadow: 0 4px 14px 0 rgba(33, 192, 139, 0.2);
}
.c100.green-chart .bar,
.c100.green-chart .fill {
    border-color: #56c08a !important;
}
.green-chart.c100 > span{
    color: #56c08a;
}


.c100.orange-chart{
    background-color: #fbe7cd;
    box-shadow: 0 4px 14px 0 rgba(253, 200, 0, 0.2);
}
.c100.orange-chart .bar,
.c100.orange-chart .fill {
    border-color: #f7a120 !important;
}
.c100.orange-chart > span{
    color: #f7a120;
}


.c100.purple-chart{
    background-color: #f4deff;
    box-shadow: 0 4px 14px 0 rgba(149, 0, 220, 0.07);
}
.c100.purple-chart .bar,
.c100.purple-chart .fill {
    border-color: #8c0de6 !important;
}
.c100.purple-chart > span{
    color: #8c0de6;
}

.c100.red-chart{
    background-color: #ffcece;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.06);
}
.c100.red-chart .bar,
.c100.red-chart .fill {
    border-color: #e07363 !important;
}
.c100.red-chart > span{
    color: #e07363;
}


.chartdiv{
    margin-top: 15px;
}
.chartdiv .sm-card{
    display: block;
    text-align: center;
    padding: 22px 22px 44px 22px;
}
.chartdiv .txt-18{
    margin-bottom: 22px;
    font-weight: 600;
}

.calldetailPopup .modal-dialog{
    max-width: 733px !Important;
}
.call-table table{
    width: 100%;
}
/*.call-table audio{
    width: 170px;
}*/
.call-table th{
    font-size: 14px;
    color: rgba(0,0,0,0.98);
    font-weight: 800;
}
.call-table td{
    font-size: 14px;
    color: #000;
    padding: 5px 20px !Important;
    vertical-align: middle;
}
.calldetailPopup .modal-header{
    padding: 22px 33px 20px 33px;
}
.calldetailPopup .modal-header .txt-16{
    margin-bottom: 9px;
}
.calldetailPopup .modal-header .txt-32{
    font-weight: bold;
    line-height: 32px;
}
.calldetailPopup .buton{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.calldetailPopup .modal-content{
    border-radius: 12px;
}
.call-table th:first-child, .call-table td:first-child {
    padding-left: 33px !important;
}

/* custom switch*/

.onoffswitch {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 90px;
    height: 23px;}
.onoffswitch-checkbox {
    display: none; }
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    border: none !important;
    background-color: #ffffff !important;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5)!important;
    height: 100% !important;}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s; }
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 23px !important;
    line-height: 23px !important;
    font-size: 12px !important;
    color: #fff !important;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    background: #fff;
    padding-left: 10px;
    border-radius: 58.8px;}
.onoffswitch-inner:before {
    content: "Running";
    padding-left: 12px !important;
    background-color: #30d126;
    color: #fff; }
.onoffswitch-inner:after {
    content: "Paused";
    padding-right: 10px;
    background-color: #fff;
    color: rgba(0,0,0,0.4) !Important;
    text-align: right; }
.onoffswitch-switch {
    display: block;
    margin: 0px;
    position: absolute;
    top: -3px;
    right: 63px;
    border: none;
    border-radius: 20px;
    transition: all .3s ease-in 0s;
    width: 26.7px;
    height: 27px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0; }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; }

/*overview start*/
.custom-tab{
    border: none;
    margin-bottom: 18px;
}

.custom-tab li a {
    padding: 4px 18px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgba(0,0,0,.6);
    border-radius: 5px;
    margin-right: 30px;
}
.custom-tab li a.active, .custom-tab li a:hover {
    background: rgba(25,171,181,.1);
    color: #19abb5;
}
.overview .txt-14{
    font-weight: 400;
}
.chartpanel-row{
    text-align: left;
    margin-bottom: 28px;
}
.chartpanel-row .c100{
    font-size: 85px;
}
.chartpanel-left{
    width: 85px;
    height: 85px;
    float: left;
}
.chartpanel-right{
    margin-left: 100px;
    overflow: hidden;
    padding-top: 15px;
}
.chartpanel-row .c100 > span{
    font-size: 18px;
}
.chartpanel-right .txt-20{
    font-weight: 600;
}
.chartpanel-head{
    margin-bottom: 25px;
}
.grey-badge{
    background: #f6f6f6;
    padding: 6px 25px;
    border-radius: 20px;
    text-align: center;
}
.grey-badge.txt-22{
    font-weight: 600;
    line-height: 27px;
}
.lg-chartdiv .sm-card{
    padding-bottom: 22px;
}
/*test form*/
.test-form .form-group{
    margin-bottom: 28px;
}
.test-form .form-control{
    border-radius: 12px;
    height: 44px;
    border: solid 1px #dedede;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    padding: 10px 16px;

}.form-info .test-form textarea.form-control{
     padding: 3px 16px;
 }
.test-form .btn{
    border-radius: 12px;
}
.test-form .control-label{
    color: rgba(0,0,0,0.45);
    font-size: 14px;
}
.test-form .form-control:focus{
    border: 1px solid #18abb5;
    border-color: #18abb5;
    box-shadow: none;
}
.has-error .form-control {
    border-color: #ff0c0c !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.text-danger{
    color: #ff0c0c !important;
}
.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.theme-color{
    color: #18adb7;
}
.light-theme-bg{
    background: #19abb5;
}
.light-btn{
    background: rgba(25, 171, 181, .10);
    color: #19abb5;
    font-size: 14px;
    border-radius: 12px;
    font-weight: 600;
    padding: 7px 40px;
    line-height: 17px;
}
.sm-blue-btn{
    background: #19a7b2;
    border-radius: 12px;
    box-shadow: 0 10px 21px 0 rgba(23, 122, 169, 0.2);
    background-image: linear-gradient(109deg, #14c4cc, #19a7b2);
    padding: 7px 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.green-btn{
    background: #14bf65;
   /* height: 44px;*/
    border-radius: 6px;
    box-shadow: 0 10px 20px 0 rgba(45, 204, 118, 0.55);
    background-image: linear-gradient(104deg, #14bf65, #19d270);
    padding: 11px 40px;
    text-align: center;
    color: #fff !Important;
    font-size: 14px;
    font-weight: 500;
}
.form-info .form-control {
    border: none;
    padding-left: 0px;
    padding-top: 0px;
    border-bottom: 1px solid rgba(151, 151, 151, .10);
    border-radius: 0px;
    background: #fff;
}
.form-info .form-control:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(151, 151, 151, .10);
    box-shadow: none;
}
.form-info .col-6:nth-child(2n+1) {
    border-right: 1px solid rgba(151, 151, 151, .10);
    padding-right: 25px;
}
.form-info .col-6:nth-child(2n) {
    padding-left: 25px;
}
.testsavebtn{
    display: none;
}
.upload-panel .camp-icon{
    width: 57px;
    height: 57px;
    position: relative;
}
.upload-panel .camp-desc{
    margin-left: 65px;
}
.upload-panel .desc-title{
    font-size: 18px;
}
.upload-panel .camp-desc p, .upload-panel .camp-desc{
    font-size: 14px;
}
.center-align{
    font-size: 20px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top:0px;
    margin:auto;
}
.center-align.fa-cloud-upload, .center-align.fa-bookmark, .center-align.fa-comments, .center-align.fa-envelope{
    color:#18adb7 ;
}
.camp-start .center-align.fa-comments, .camp-start .center-align.fa-envelope{
    font-size: 40px;
}
.upload-panel .card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #ebebeb;
    background-color: #ffffff;
}
.upload-panel .card-padd{
    padding: 10px 15px;
}
.upload-panel .u-card-inr {
    background: #f8fcff;
    padding: 24px 17px;
    border-radius: 4px;
    min-height: 144px;

}
.upload-panel .u-card-inr.uplodr{
    border: 1px dashed rgba(91, 103, 109, .5);
}
.upload-panel .dragtxt{
    font-size: 18px;
    line-height: 22px;
}
.upload-panel .smlor{
    font-size: 18px;
    color: rgba(0,0,0,0.4);
    margin: 14px 0px;
    line-height: 22px;
}
.upload-panel .upload-txt{
    font-size: 18px;
    line-height: 22px;
}
.upload-panel .upload-txt span{
    color: #595959;
    font-weight: 400;
}
.upload-panel .select_container select{
    height: 40px;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #e6e6e6;
    padding: 3px 17px;
    font-size: 18px;
}
.slick-drpdown .dropdown-btn.dropdown-toggle {
    min-width: 302px;
    height: 40px;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    color: rgba(0,0,0,0.6);
    padding: 7px 19px;
    font-weight: 400;
}
.upload-panel .slick-drpdown .dropdown-btn.dropdown-toggle{
    color: inherit;
}
.slick-drpdown .dropdown-btn:after{
    top:14px
}
/*campaign strat*/
.custgrey-form label{
    font-size: 16px;
    color: rgba(0,0,0,0.80);
    font-weight: 600;
    margin-bottom: 18px;
}
.custgrey-form .form-control{
    height: 65px;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
.custgrey-form .form-control::-webkit-input-placeholder {
    font-size: 20px;
}
.dashed-mounted-border{
    border-right: 1px dashed rgba(151, 151, 151, .4);
}
.dashed-mounted-border:before {
    width: 10px;
    height: 10px;
    content: '';
    border: 1px solid rgba(151, 151, 151, .4);
    display: inline-block;
    position: absolute;
    right: -5px;
    background: #fff;
}
.dashed-mounted-border:after {
    width: 10px;
    height: 10px;
    content: '';
    border: 1px solid rgba(151, 151, 151, .4);
    display: inline-block;
    position: absolute;
    right: -5px;
    background: #fff;
}
.m-auto{
    margin: auto;
}
.creditdiv .strip .txt-12{
    color: #000;
}
.cus-notification .dropdown-menu{
    width:380px;
    max-width:380px;
}
.cus-notification .msg-profile{
    width: 33px !important;
    height: 33px;
    margin-top: 12px;
}
.cus-notification .msg-body{
    font-size: 16px;
    color: rgba(0,0,0,0.88);
    line-height: 18px;
    white-space: initial;
    border-bottom: 1px solid rgba(151, 151, 151, .1);
    padding-bottom: 18px;
    padding-top: 12px;
}
.cus-notification .msg-body small{
    font-size: 12px;
    color: rgba(0,0,0,0.4);
}
.modal.show.center-popup  {
    display:flex!important;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    align-items: flex-start;
}
.confirm-popup .modal-dialog{
    width: 400px;
    margin: auto;
}
.confirm-popup .modal-dialog .modal-content{
    padding: 38px 30px;
    text-align: center;
}
.popup-btnwrp{
    text-align: center;
    display: inline-block;
}
.popup-btnwrp .btn{
    font-size: 14px;
    min-width: 87px;
}
.lightgrey{
    background: #f6f6f6;
    margin:0px 5px;
}
.green-whitetxt{
    background: #19d270;
    background-image: linear-gradient(112deg, #14bf65, #19d270);
    color: #fff;
    margin:0px 5px;
}
.loading-wrap {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
}
.loading-wrap-bg{
    background:url('#') center center ;
    background-repeat: no-repeat;
    width: 400px;
    background-size:contain ;
    margin: auto;
}
.progress-wrap {

    width: 96px;
    height: 96px;
    line-height: 78px;
    margin: 0 auto;
    position: relative;
    background: #fff;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    margin-bottom: 17px;
}
.progress-wrap svg{width:100%;}
.bluetxt{
    color: #1995db;
    font-size: 24px;
    font-weight: 600;
}
.loading-wrap .txt-18{
    color: rgba(0,0,0,0.7) !important;
}
.cust-page .pagination{
    margin-top: 42px;
}
.cust-page .page-link{
    color: #15bec7;
    border: none;
    background: rgba(21, 190, 199, .10);
    margin: 0px 4px;
    padding: 2px 6px;
    font-size: 14px;

}
.cust-page .page-link.active{
    background: #15bec7;
    color: #fff;
}
.cust-page .page-nav .page-link {
    background: #fff;
    line-height: 16px;
}
.cust-page .page-nav .page-link span{
    font-size: 18px;
}
.lm-title{
    font-size: 30px;
    font-weight: 600;
}
.lm-detail{
    font-size: 22px;
    color: rgba(0,0,0,0.7);
}
.lm-row{
    padding-top: 24px;
    margin-top: 27px;
    border-top:1px solid rgba(0,0,0,0.05);
}
.lm-info-label{
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    font-weight: 400;
}
.lm-info-title{
    font-size: 18px;
    color: rgba(0,0,0,0.9);
    font-weight: 700;
    margin-top: 8px;
}
.site-manager-wrap .site-template-list li.active .site-template:after {
    background: rgba(0, 0, 0, .56);
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    left: 0px;
    right: 0px;
}
.site-template-list{
    margin-bottom: 55px;
}
.site-template-list ul{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
}
.site-template-list li{
    width: 135px;
    list-style-type: none;
    margin-right: 35px;
    display: inline-block;
    vertical-align: text-bottom;
    text-align: center;
}
.site-template{
    width: 100%;
    height: 149px;
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
    border: 8px solid #fff;
}
.site-manager-wrap .site-template-list li.active .site-template:before {
    content: '';
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    z-index: 99;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 10px;
    height: 25px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.site-template img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.theme-name {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    padding: 7px 14px;
    border-radius: 15px;
    line-height: 17px;
    margin-top: 11px;
}
.site-template-list ul li.active .theme-name{
    background: #e8f6f7;
    font-weight: 600;
}
.site-manager-wrap .custom-tab li a{
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}
.site-template-card label.customcheck{
    font-size: 14px;
    margin-bottom: 26px !important;
    line-height: 17px;
}
.cust-card-head{
    background: #f4f7f9;
    padding: 10px 19px;
}
.mt-10{
    margin-top: 10px;
}
.sm-cust-form{

}
.sm-cust-form .form-group textarea, .sm-cust-form .form-group input[type="text"], .form-group input[type="email"], .form-group input[type="password"], .form-group input[type="number"] {
    background: #f4f7f9;
    border-radius: 12px;
    height: 40px;
    border: 1px solid #e8e8e8;
}
.no-input-bg.sm-cust-form .form-group input{
    background: #fff;
}
.sm-cust-form .form-group textarea{
    height:70px;
}
.sm-cust-form .form-group label {
    font-size: 12px;
    font-weight: 600;
}
.submit-btn{
    height: 40px;
    border-radius: 12px;
    background-image: linear-gradient(107deg, #14bf65, #19d270);
    padding: 11px 17px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    line-height: 17px;
    margin-top: 30px;

}
.bannertext-card .col{
    border-right: 1px solid rgba(151, 151, 151, .10);
}
.bannertext-card .col:last-child{
    border-right: none;
}
.bannertext-card .sm-cust-form textarea{
    height: 194px;
}
.testimonial-popup .modal-footer{
    margin: auto;
    padding-top: 0px;
    border: none;
}
.testimonial-popup .modal-header{
    border: none;
}
.modal-header .modal-title{
    font-weight: bold;
}
.testimonial-popup .modal-footer .btn-grey{
    background: #f6f6f6;
    border: 1px solid #f6f6f6;
    color: #000;
    box-shadow: none;
}
.testimonial-popup .modal-footer .btn{
    padding: 11px 30px;
    border-radius: 12px;
    font-size: 14px;
    height: 40px;
    line-height: 17px;
}
.testimonial-popup .modal-content{
    border-radius: 12px;
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.09);

}
.testimonial-popup{
    max-width: 460px;
}
.offerpopup .modal-dialog{
    max-width: 380px;
}
.offerpopup .modal-content{
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.09);
    border-radius: 12px;
}
.offer-search{
    position: relative;
    margin-right: 0px;
}
.modal-scroll-body {
    max-height: 245px;
}
.sm-cust-form .form-control{
    text-align: left;
}
.offerpopup .modal-footer{
    justify-content: flex-start;
}
.offerpopup .modal-footer .bluebtn{
    width: 160px;
    border-radius: 12px;
}
.offerpopup .modal-footer .reset{
    color: rgba(0,0,0,0.8) !important;
}
.offercard .form-control{
    font-weight: 600;
}
.modal-scroll-body .mCSB_scrollTools .mCSB_draggerRail{
    background-color: rgba(222, 222, 222, 0.4);
}
.modal-scroll-body .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #cccccc;
    filter: none !important;
}

@media (max-width: 1023px) {
    .padd {
        padding: 20px 15px 20px 15px;
    }
    nav.navbar a.menu-btn {
        display: inline-block;
    }
}

@media (max-width: 1200px) {
    .ftrbtn.bluebtn {
        width: auto;
    }
    .ftrbtn.resetbtn {
        width: auto;
    }
}
